[Unit]
Description=TS3 Docker Container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop ts3
ExecStartPre=-/usr/bin/docker rm ts3
ExecStart=/usr/bin/docker run \
  --rm \
  --name ts3 \
  --net=host \
    -v /var/docker/volumes/ts3:/ts3/data \
  neovatar/ts3:latest
ExecStop=-/usr/bin/docker stop ts3

[Install]
WantedBy=multi-user.target
